<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/app.js"></script>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This website was created by Ashwin Panwar. It uses data from mapbox.com and darksky.net</p>
        </div>
        <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="ashwin-panwar-a4670b16b"><a class="LI-simple-link" href='https://in.linkedin.com/in/ashwin-panwar-a4670b16b?trk=profile-badge'>Ashwin Panwar</a></div>    {{>footer}}

         <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

        
        {{>footer}}
    </body>
</html>